 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@500;600;700&display=swap');


 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif; 
}
.wrapper{
  position: fixed;
  top: 0;
  right: -100%;
  height: 90%;
  width: 100%;
  background: #fff;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper{
  /*left: 0;*/
  right:0;
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /*left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  /*color: #fff;*/
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid #000;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(8px);
}


.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #000;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #000;
}
.wrapper ul{
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  height: 10%;
  margin: 15px 0;
}
.wrapper ul li a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #000;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #000;
   /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #DA2535;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

#active:checked ~ .wrapper ul li a{
  opacity: 1;
}
.wrapper ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a{
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
   transition-delay: .6s;
  transform: translateX(-100px);
}


 * { 
  max-width: 100%; 
    
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.title h2 {
position: absolute;
width: 402px;
height: 49px;
left: 100px;
top: 104px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 39px;
/* identical to box height */

color: #292929;
}

.title p{
position: absolute;
width: 520px;
height: 114px;
left: 100px;
top: 160px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #292929;
}

.title button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;
  position: absolute;
  width: 200px;
  height: 60px;
  left: 100px;
  top: 290px;
  background: #DA2535;
  border-radius: 10px;
  cursor: pointer;
  }

.title a {
width: 106px;
height: 29px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #FBFBFB;
flex: none;
order: 0;
flex-grow: 0;
}



.img-baixo {
  
position: absolute;
width: 604px;
height: 500px;
left: 150px;
top: 500px;
background: url(css/assents/img/img\ segurando\ prato.png);
border-radius: 16px;
background-size: 300px 300px;
background-repeat: no-repeat;
}

.title-lat h2 {
position: absolute;
width: 361px;
height: 124px;
left: 350px;
top: 40px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 130%;
color: #292929;
}

.title-lat p {
position: absolute;
width: 500px;
height: 114px;
left: 350px;
top: 120px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 160%;
color: #292929;
}

.title-principal h2{
  position: absolute;
  width: 374px;
  height: 59px;
  left: 300px;
  top: 850px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #292929;
}

img {
  display: block;
  max-width: 100%;
}

.card-primeiro {
  width: 275%;
  min-height: 300%;
  background: #f3f3f3;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 32px;
  padding-inline: 10px;
  padding: 40px;
  top: 1000px;
  left: -100px;
}

.card-segundo {
  width: 275%;
  min-height: 300%;
  background: #f3f3f3;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 32px;
  padding-inline: 10px;
  padding: 40px;
  top: 1000px;
  left: -80px;
}

.card-terceiro {
  width: 275%;
  min-height: 200%;
  background: #f3f3f3;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 32px;
  padding-inline: 10px;
  padding: 60px;
  top: 1000px;
  left: -60px;
}

.card-img {
  align-self: center;
  max-width: 300px;
  height: 300px;
  position: absolute;
  top: -270px;
}

.nome-do-prato,
.preco-do-prato {
  font-size: 32px;
  color: #292929;
  text-align: center;

}

.descricao-prato {
  font-size: 29px;
  line-height: 100%;
  margin: 14px 0px;
  color: #616161;
  text-align: center;
 align-self: center;
}

.titulo-segundario h2{
position: absolute;
width: 318px;
height: 59px;
left: 126px;
top: 1600px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 123%;
color: #292929;
}

.container1{
position: absolute;
width: 504px;
height: 290px;
left: 106px;
top: 1700px;
background: #F3F3F3;
border-radius: 16px;
}

.container2{
  position: absolute;
  width: 504px;
  height: 290px;
  left: 540px;
  top: -4px;
  background: #F3F3F3;
  border-radius: 16px;
  }

.imagem{
position: absolute;
width: 120px;
height: 120px;
left: -480px;
top: 10px;
background: url(css/assents/img/profile1.png);
border-radius: 16px;
}

.imagem2{
position: absolute;
width: 120px;
height: 120px;
left: 490px;
top: -4px;
background: url(css/assents/img/profile2.png);
border-radius: 16px;
}

.nome1{
position: absolute;
width: 269px;
height: 39px;
left: 15px;
top: 136px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 123%;
color: #292929;
}

.nome2{
  position: absolute;
  width: 269px;
  height: 39px;
  left: 16px;
  top: 136px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 123%;
  color: #292929;
  }

.descricao-comentario1 {
position: absolute;
width: 455px;
height: 76px;
left: 16px;
top: 170px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
color: #616161;
}

.descricao-comentario2 {
  position: absolute;
  width: 455px;
  height: 76px;
  left: 16px;
  top: 170px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #616161;
  }

.estrelas1 {

    position: absolute;
    width: 100%;
    height: 100%;
    left: -50px;
    top: 150px;
    background-image: url(css/assents/img/estrelas\ \(2\).png);
    border-radius: 16px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

.estrelas2 {

  position: absolute;
  width: 100%;
  height: 100%;
  left: 540px;
  top: 20px;
  background-image: url(css/assents/img/estrelas\ \(2\).png);
  border-radius: 16px;
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

  .logo {

    position: absolute;
    width: 100%;
    height: 100%;
    left: 50px;
    top: 2px;
    background-image: url(css/assents/img/logojapa2.png);
    border-radius: 16px;
    background-size: 200px 100px;
    background-repeat: no-repeat;
    

    }
    

    @media screen and (max-width:768px){
      .container1 .container2  .container3 .card-primeiro .card-segundo .card-terceiro  .titulo-segundario h2{
        width: 100%;
      }
      
    }

    @media screen and (max-width:768px) {
      .container1 .container2  .titulo-segundario h2{
        width: 100%;
      }
    }