@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;500;600&display=swap');


  
  :root {
    --color-primary: #002333;
    --color-grey-1: #B4BEC9;
    --color-grey-2: #B4BEC9;
    --color-grey-3: #B4BEC9;
    --color-title-1: #B4BEC9;
    --text-color-1: #c7c7c7cc;
  }
  
  body {
    font-family: "poppins", sans-serif;
    width: 100vw;
    height: 100vh;
  }
  